.button{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    box-shadow: 0 3px 3px var(--shadow-color);
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 2px;

    &:focus{
        outline: 2px dotted var(--primary);
    }

}