.list__item{
  background-color: var(--accent);
  min-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list__item-title{
  font-size: 18px;
}

.list{
  max-width: 600px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}